server:
  port: ${PORT:8080}

spring:
  jpa:
    hibernate:
      ddl-auto: create
    database-platform: org.hibernate.dialect.MySQL8Dialect
    properties:
      hibernate:
        search:
          backend:
            directory:
              type: local-heap
  data:
    jpa:
      repositories:
        enabled: true
  datasource:
    url: jdbc:mysql://${MYSQL_HOST:localhost}:3306/productdb?allowPublicKeyRetrieval=true&useSSL=false
    username: ${MYSQL_HOST_USERNAME:fooda}
    password: ${MYSQL_HOST_PASSWORD:f00d@}
    driver-class-name: com.mysql.cj.jdbc.Driver
  security:
    user:
      name: ${SPRING_SECURITY_USERNAME}
      password: ${SPRING_SECURITY_PASSWORD}
      roles: ${SPRING_SECURITY_ROLES}

  application:
    name: fooda-backend-product

  jackson:
    serialization.indent_output: true
    default-property-inclusion: non_null
